th {
  font-size: 12px;
  border: 1px solid goldenrod;
}

th.number {
  width: 50px;
}

th.strength {
  width: 80px;
}

th.type {
  width: 175px;
}

th.flag {
  width: 30px;
}

th.fe {
  width: 40px;
}

th.total {
  width: 50px;
}
th.delete {
  width: 25px;
  border: none;
}

td {
  font-size: 12px;
}

select {
  width: 250px;
  text-align-last: center;
}

form.add-row-form {
  display: flex;
  justify-content: center;
}

.add-row h3 {
  margin-bottom: 5px;
  margin-top: 5px;
}

table.force-row-div {
  margin-bottom: 5px;
}
