th {
  font-size: 12px;
  border: 1px solid goldenrod;
}

th.number {
  width: 30px;
}

th.strength {
  width: 50px;
}

th.type {
  width: 200px;
}

th.flag {
  width: 30px;
}

th.fe {
  width: 30px;
}

th.total {
  width: 50px;
}
th.delete {
  width: 25px;
  border: none;
}
