#admin-div {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#admin-div .left {
  display: flex;
  flex-direction: column;
  width: 500px;
}

#admin-div .admin-button {
  width: 250px;
  height: 50px;
  background-color: grey;
  color: black;
  font-size: 24px;
  margin: 5px 0px;
}

#admin-div .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 750px;
  height: 800px;
}

#admin-div .unit-list {
  width: 90%;
  height: 80%;
  background-color: slategrey;
  align-self: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#admin-div .force-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.unit-row-table th {
  font-size: 12px;
  border: 1px solid goldenrod;
}

.unit-row-table th.type {
  width: 300px;
}

.unit-row-table th.flag {
  width: 40px;
}

.unit-row-table th.fe {
  width: 40px;
}

.unit-row-table th.country {
  width: 150px;
}

td {
  font-size: 12px;
}

table.unit-row-table {
  margin-bottom: 5px;
}

.unit-row-table th,
.unit-row-table td {
  margin: 3px 10px;
}
