td input.force-qty-input {
  width: 100%;
  margin: 0;
}

td input.force-strength-input {
  width: 60%;
  margin: 0;
}

.delete-icon {
  cursor: pointer;
}

td.type {
  width: 300px;
}

td.flag {
  width: 40px;
}

td.fe {
  width: 40px;
}

td.country {
  width: 150px;
}
