#header-div {
  contain: layout;
  height: 50px;
  border-bottom: 1px solid gold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-div .left {
  height: 49px;
  display: flex;
  align-items: center;
}
#header-div img {
  height: 100%;
}

#header-div .page {
  padding-left: 10px;
}

#header-div .right {
  height: 49px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  cursor: pointer;
}

#header-div .menu-header {
  padding-right: 10px;
}
