form.unit-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.unit-form img {
  width: 60px;
}

.unit-form h1 {
  align-self: center;
}

.unit-form .entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 580px;
  margin: 5px 0px;
}

.unit-form label {
  height: 50px;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.unit-form input {
  height: 50px;
  width: 400px;
  background-color: white;
  color: black;
  margin: 0;
  font-size: 32px;
}

#fe-input {
  width: 200px;
}

#affiliation-input {
  width: 200px;
  font-size: 28px;
}

#country-list-input {
  width: 250px;
  font-size: 16px;
}

div.admin-form-button-field {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.admin-form-button-field button {
  margin-top: 10px;
}

.data-entry-images img {
  width: 100%;
  margin-top: 20px;
}
